* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

:root {
  --color-text-dark: #333333;
  --color-text-light: #4e5150;
  --color-green-light: #20b18f;
  --color-green-dark: #00747b;
  --color-background-dark-green: #c0e1d6;

  --color-white: #ffffff;
  --color-light-blue: #f0f4f9;
}

body {
  // font-family: "EuclidCircularA";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #c8eadf;
  font-size: 16px;

  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 40px !important;
  }

  @media screen and (max-width: 900px) {
    h1 {
      font-size: 40px !important;
    }
    h2 {
      font-size: 40px !important;
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 24px !important;
    }
    h2 {
      font-size: 24px !important;
    }
  }
}
